{% extends 'base.html' %}

<!--Title of page-->
{% block title %}
My To-Do List
{% endblock %}


{% block page_content %}
<div class="content">
    <div class="container-fluid bg-1 text-center">
        <h3 class="margin">Project</h3>
        <!--Shows current user-->
        <h3>This is the project, {% if current_user.is_authenticated %} {{ current_user.username }}{% else %} Stranger{% endif %}.</h3> 
    </div>
    
    <!--Check if user is logged in-->
    {% if current_user.is_authenticated %}

    <!--Check if any tasks-->
    {% if tasks|length < 1 %}
    <h4> There are no tasks. Create one below!</h4>
    {% else %}

    <!--If tasks are tagged with current user, show them-->
    <table class="newtable">
        <thread>
            <tr>
                <th>Task</th>
                <th>Added</th>
                <th>Actions</th>
            </tr>
        </thread>   
        <tbody>
            {% for task in tasks %}
                {% if task.user.username == current_user.username %}
                <tr>
                    <td>{{ task.content }}</td>
                    <td>{{ task.date_created.date() }}</td>
                    <td>
                         <a href="/delete/{{task.id}}">Delete</a> <!--for DigScholar this will be <a href="final/delete/{{task.id}}">-->
                       
                        <a href="/update/{{task.id}}">Update</a> <!--for DigScholar this will be <a href="final/update/{{task.id}}">-->
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

    {% endif %}
    
    <!--Form to submit new tasks-->
    <form action='/' method="POST"> <!--for DigScholar this will be <form action="/final/" METHOD="POST">)-->
        <input type="text" name="content" id="content">
        <input type="submit" value="Add Task">
    </form>
    {% endif %}
</div>

{% endblock %}