{% extends 'base.html' %}

<!--Title of page-->
{% block title %}
My To-Do List
{% endblock %}

{% block head %}
    {{ super() }}
    <script>
        function checkCustom(selector) {
            if (selector.value == "custom") {
                document.getElementById("custom_block").style.display = "block";
            }
            else {
                document.getElementById("custom_block").style.display = "none";
            }
        }
    </script>
{% endblock %}

{% block page_content %}
<div class="content">
    <div class="container-fluid bg-1 text-center">
        <!--<h3 class="margin">Project</h3>
        Shows current user
        <h3>This is the project, {% if current_user.is_authenticated %} {{ current_user.username }}{% else %} Stranger{% endif %}.</h3>--> 
    </div>
    
    <!--Check if user is logged in-->
    {% if current_user.is_authenticated %}

    <!--Check if any tasks-->
    {% if tasks|length < 1 %}
    <h4> There are no tasks. Create one below!</h4>
    {% else %}

    <!--If tasks are tagged with current user, show them-->
    <div class = table-wrapper>
    <table class="newtable">
        <thread>
            <tr>
                <th>Task</th>
                <th>Added</th>
                <th>Topic</th>
                <th>Actions</th>
            </tr>
        </thread>   
        <tbody>
            {% for task in tasks %}
                {% if task.user.username == current_user.username %}
                <tr>
                    <td class = "task">{{ task.content }}</td>
                    <td class = "date">{{ task.date_created.date() }}</td>
                    <td class = "topic" style="text-transform:capitalize;"><a href="/filter/{{task.topic}}">{{ task.topic }}</a></td>
                    <td>
                        {% if selected_topic == null %}
                        <a href="/delete/{{task.id}}">Delete</a> <!--for DigScholar this will be <a href="final/delete/{{task.id}}">-->
                        {% else %}
                        <a href="/{{selected_topic}}/delete/{{task.id}}">Delete</a> <!--for DigScholar this will be <a href="/{{selected_topic}}/final/delete/{{task.id}}">-->
                        {% endif %}

                        {% if selected_topic == null %}
                        <a href="/update/{{task.id}}">Update</a> <!--for DigScholar this will be <a href="final/update/{{task.id}}">-->
                        {% else %}
                        <a href="/{{selected_topic}}/update/{{task.id}}">Update</a> <!--for DigScholar this will be <a href="/{{selected_topic}}/final/update/{{task.id}}">-->
                        {% endif %}
                    </td>
                </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

    {% endif %}
    
    {% if selected_topic == null %}
    <!--Form to submit new tasks-->
    <form action='/' method="POST"> <!--for DigScholar this will be <form action="/final/" METHOD="POST">)-->
        <input type="text" name="content" id="content">
        <select id="filter" name="filter" onchange="checkCustom(this)">
            <option value="personal" selected>Personal Goals</option>
            <option value="school">School</option>
            <option value ="work">Work</option>
            <option value="interpersonal">Interpersonal</option>
            <option value="financial">Financial</option>
            <option value="errand">Errand</option>
            <option value="custom">Custom</option>
        </select>
        <input type="submit" value="Add Task">
        <div id="custom_block" style="display: none;">
            <input type="text" name="custom_filter" id="custom_filter" style="margin-left: 40%; width: 30%;">
        </div>
    </form>
    {% else %}
    <form action='/filter/{{selected_topic}}' method="POST"> <!--for DigScholar this will be <form action="/final/filter/{{selected_topic}}" METHOD="POST">)-->
        <input type="text" name="content" id="content">
        <input type="submit" value="Add Task">
    </form>
    {% endif %}
</div>
    {% endif %}
</div>

{% endblock %}

{% block filter_list %}
{% if current_user.is_authenticated %}
    <li class = "dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Filters
            <span class="caret"></span>
        </a>
        <ul class = "dropdown-menu">
            {% for task in tasks %}
            <li class="filter_item"><a href="/filter/{{ task.topic }}">{{ task.topic }}</a></li>
            {% endfor %}
            <li class="divider"></li>
            <li class="filter_item"><a href="/">All</a></li> <!--Will be <a href="/final/" in Digital Scholar-->
        </ul>
    </li>
{% endif %}
{% endblock %}