body {
	margin: 0;
	font-family: 'Caveat', cursive;
	background-image: url("../images/paperbg.png");
	background-size: 100% 400px;
	color: #383838;
}
.navbar-inverse{
	border-style: none;
	border-radius: 0px;
	height: 1000px;
	display: flex;
	position: fixed;
	background-color: #1c77ed;
	width: 25%;
}

.navbar-inverse .navbar-brand{
	color:white;
	font-size: 100px;
	margin: 100px;
	margin-left: auto;
	margin-right: auto;
}

a .navbar-brand{
	margin-left: auto;
	margin-right: auto;
}

.container-fluid{
	height: 10px;
	display: flex;
	flex-direction: column;
	margin-right: 0px;
	margin-left: 0px;
	padding-left: 0px;
	padding-right: 0px;
	width: 100%;
}

.nav{
	display: flex;
	flex-direction: column;
	font-size: 50px;
}

.active{
	padding-right: 15px;
}

.dropdown{
	padding-right: 15px;
}

.container{
	margin-right: none;
	margin-left: 30%;
}

.table .table-hover .table-bordered{
	border:none;
}
.newtable{
	color: #383838;
	margin-top: 11%;
    font-size: 35px;
    width: 100%
}

td,th{
	height: 57px;
}

table a{
	color: #1c77ed;
	font-size: 25px;
}

tr{
	height:56px; 
}

h3{
	font-size: 50px;
	margin-top: 11px;
	margin-bottom: -3px;
}

.content{
	padding-bottom: 50px;
}

.navbar-right .dropdown-menu{
	right:15px;
	font-size: 25px;
}
p, form{
	font-size: 25px;
}
